body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }

.bg-video {
    max-width: fit-content;
}

.bg-img {
    max-width: fit-content;
}

#Rafting-demo {
    position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
}

.content {
position: fixed;
bottom: 0;
background: rgba(0, 0, 0, 0.5);
color: #f1f1f1;
width: 100%;
padding: 20px;
}
.HomeBtn {
    margin-top: 10px;
    margin-right: 30px;
}

#SoloBtn {
position: relative;
text-transform: uppercase;
padding: 0px 30px;
height: 70px;
min-width: 245px;
font-size: 18px;
letter-spacing: 0.08em;
display: inline-flex;
-moz-box-pack: center;
justify-content: center;
-moz-box-align: center;
align-items: center;
text-align: center;
overflow: hidden;
line-height: 0;
font-weight: 600;
clip-path: polygon(0% 0px, 0px 0%, 100% 0%, 100% 0px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0px 100%, 0% calc(100% - 10px));
background-color: rgb(84, 242, 220);
color: rgb(33, 33, 33);
border: 0px none;
white-space: nowrap;
cursor: pointer;
transition: color 0.2s ease-in-out 0s;
}

#SoloBtn:hover {
    --sf-background-color: #29353a;
    --sf-text-color: #fff;
    --sf-error-color: #f44336;
    --sf-disabled-color: #636363;
    --sf-input-border-color: 192,192,192;
    --sf-input-border-hover-color: #dcdcdc;
    --sf-input-hover-focus-color: #30b2e6;
    --sf-animation-duration: 0.3s;
    --sf-transition: cubic-bezier(0.4,0,0.2,1);
    --sf-terms-text-color: #fff;
    --sf-terms-button-color: #30b2e6;
    --sf-terms-checkbox-color: hsla(0,0%,100%,0.4);
}